h1{
  font-family:serif;
  font-style:oblique;
  font-size:35px;
  padding-left: 500px;
  margin-top: -5px;
  padding-bottom: 15px;
  padding-top: 15px;
  color: white;
  background-color:rgb(0, 0, 0);
  font-weight: lighter;
}

.inputs{
  display:flex;
  flex-direction: column;
  gap:10px;
  background-color:rgba(169, 167, 167, 0.507);
  width:650px;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-left: 80px;
  border-radius: 16px;
  margin-top: 50px;
  text-align: center;
  
}

input{
  margin-left: 70px;
  height:60px;
  width:505px;
  border-radius: 14px;
  background-color: white;
  border: none;
}

p,span{
   color:rgb(255, 255, 255);
   font-size: 30px;
   font-family: serif;
   font-style: oblique;
   font-weight:900;
   
}

.btn-box{
  display: flex;
  gap:20px;
  margin-left: 260px;
  margin-top: 35px;
  
}

.submit,.view,.goback{
  background-color: black;
  color:white;
  border-radius: 14px ;
  height:70px;
  width:100px;
  font-size: larger;
  font-family: serif;
  font-style: oblique;
  border:none;
}

.view{
  width:170px;
}
.output{
  background-color:rgba(169, 167, 167, 0.507);
  width:650px;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-left: 80px;
  border-radius: 16px;
  margin-top: 50px;
  text-align: center;
  overflow:auto;
  height:383px;
}

.final{
  font-size: 25px;
  color: black;
}

.incr{
  color: black;
}
.out{
  color:black;
  
}



.final1{
  color:white;
}

.goback{
  margin-left: 375px;
  margin-top: 35px;
}

.update,.delete{
  background-color: black;
  color:white;
  border-radius: 14px ;
  height:50px;
  width:100px;
  font-size: medium;
  font-family: serif;
  font-style: oblique;
  border:none;
  margin-top: 10px;
  margin-right: 15px;}